@model ChangePasswordViewModel

<form asp-action="ChangePassword" asp-controller="User" method="post">
    <label for="oldpass">Старый пароль</label>
    <input id="oldpass" asp-for="OldPassword" required type="password" class="form-control"/>

    <label for="newpass">Новый пароль</label>
    <input id="newpass" asp-for="NewPassword" required type="password" class="form-control"/>

    <button class="btn btn-primary">Сохранить</button>
</form>
