@model UserListViewModel

<div>
    <label>Отделение</label>
    <select id="branchSelector" onchange="setUsersTable('userTableBody', 'branchSelector', 'img-fluid')">
        <option>Любое</option>
        @foreach (var branch in Model.Branches)
        {
            <option value="@branch.Id">@branch.Name</option>
        }
    </select>
</div>

<table class="table">
    <tr>
        <th>Аватар</th>
        <th>Полное имя</th>
        <th>Позиции</th>
    </tr>
    
    <tbody id="userTableBody">

    </tbody>
</table>

@section Scripts{
    <script src="~/js/userList.js"></script>
    <script>
        $(function(){
            setUsersTable('userTableBody', 'branchSelector');
        })
    </script>
}


