@model CreateUserViewModel

<h1>Новый пользователь</h1>
<form asp-action="CreateUser" asp-controller="Administration" method="post">
    <label for="email">Почта</label>
    <input id="email" class="form-control" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$" required asp-for="Email" />

    <label for="firstname">Имя</label>
    <input id="firstname" asp-for="FirstName" class="form-control" required />

    <label for="lastname">Фамилия</label>
    <input id="lastname" asp-for="LastName" class="form-control" required />

    <label for="bday">Дата рождения</label>
    <input id="bday" type="date" asp-for="BirthDate" required class="form-control" />

    <label for="pswrd">Пароль</label>
    <input id="pswrd" asp-for="Password" required type="password" class="form-control" />

    <label for="branch">Отделение</label>
    <select asp-for="BranchId" class="form-control" id="branch">
        @foreach (var branch in Model.Branches)
        {
            <option value="@branch.Id">@branch.Name</option>
        }
    </select>

    <button class="btn btn-primary">Добавить</button>
</form>
