@model ListViewModel

<div class="justify-content-md-center bg-light" style="text-align:center;">
    <div style="margin:auto;">
        <label class="h3">Perfomance review templates</label>
        <a class="link-primary" asp-action="New" asp-controller="PR">Новый шаблон</a>
        <a class="link-primary" asp-action="Type" asp-controller="PR">Новый тип</a>
    </div>

    <ul>
        @foreach (var template in Model.Templates)
        {
            <a asp-action="Edit" asp-controller="PR" asp-route-templateId="@template.Id" class="nav-link">@template.Name</a>
        }
    </ul>
</div>
