@model DeletePositionViewModel
@{
    Layout = null;
}

<div>
    <form method="post" onsubmit="return jQueryModalDelete('@Url.Action("Delete","Position", new { positionId = Model.Id } )', '@Url.Action("List","Position")')">
        <h5> Вы точно хотите удалить выбранную позицию?</h5>
        <div class="row col-md-12 justify-content-center">
             <button type="submit" class="btn btn-danger text-white col-md-2" onclick="closeWindow()"> Да </button>
             <p class="col-md-1"></p>
             <button type="button" onclick="closeWindow()" class="btn btn-success text-white col-md-2"> Нет </button>
        </div>
    </form>
</div>
