@model PendingViewModel
<div class="row" style="margin:1%">
    <div class="col border">
        <label for="reviewsForUser">Я должен оценить</label>
        <table class="table table-primary table-hover" style="margin:1%" id="reviewsForUser">
            <tr>
                <th>Ответчик</th>
                <th>Срок</th>
                <th>Ссылка</th>
            </tr>
            @foreach (var review in Model.ReviewsForUser)
            {
                <tr>
                    <td><a href="/User/Info?userId=@review.ReviewedUserId">@review.ReviewedUser.FullName</a></td>
                    <td>@(review.Deadline?.ToString("dd.MM.yyyy") ?? "Не установлен срок")</td>
                    <td><a href="/Review/Process/@review.Id">Link for review</a></td>
                </tr>
            }
        </table>
    </div>

    <div class="col border">
        <label for="myReviews">Меня оценивают</label>
        <table class="table table-primary table-hover col" style="margin:1%" id="myReviews">
            <tr>
                <th>Ответчик</th>
                <th>Срок</th>
                <th>Ссылка</th>
            </tr>
            @foreach (var review in Model.UserReviews)
            {
                <tr>
                    <td><a href="/User/Info?userId=@review.ReviewedUserId">@review.ReviewedUser.FullName</a></td>
                    <td>@(review.Deadline?.ToString("dd.MM.yyyy") ?? "Не установлен срок")</td>
                    <td><a href="/Review/Process/@review.Id">Link for review</a></td>
                </tr>
            }
        </table>
    </div>
</div>

