@model PendingViewModel
<div class="row" style="margin:1%">
    <div class="col border">
        <label for="reviewsForUser">Reviews for user</label>
        <table class="table table-primary table-hover" style="margin:1%" id="reviewsForUser">
            <tr>
                <th>Reviewed user</th>
                <th>Deadline</th>
                <th>Link</th>
            </tr>
            @foreach (var review in Model.ReviewsForUser)
            {
                <tr>
                    <td><a href="/User/Info?userId=@review.ReviewedUserId">@review.ReviewedUser.FullName</a></td>
                    <td>@(review.Deadline?.ToString("dd.MM.yyyy") ?? "No deadline set")</td>
                    <td><a href="#">Link for review</a></td>
                </tr>
            }
        </table>
    </div>

    <div class="col border">
        <label for="myReviews">My reviews</label>
        <table class="table table-primary table-hover col" style="margin:1%" id="myReviews">
            <tr>
                <th>Reviewed user</th>
                <th>Deadline</th>
                <th>Link</th>
            </tr>
            @foreach (var review in Model.UserReviews)
            {
                <tr>
                    <td><a href="/User/Info?userId=@review.ReviewedUserId">@review.ReviewedUser.FullName</a></td>
                    <td>@(review.Deadline?.ToString("dd.MM.yyyy") ?? "No deadline set")</td>
                    <td><a href="#">Link for review</a></td>
                </tr>
            }
        </table>
    </div>
</div>

